################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TFSDemoProject/.vs/TFSDemoProject/v15
/TFSDemoProject/TFSDemoProject/obj
